/*首页专用细节调整*/
.ui-slider.ui-slider-index {padding-top: 220px;}
.ui-grid-halve.ui-grid-halve-index {background-color: #fff; border-bottom: 1px solid #dbdbdb;}
/*模组通用*/
section[data-moduleID]{
  display: block;
  margin-bottom: 15px;
}
/*新添模组占位块*/
section[data-moduleID='add_new'] {
  /*特别补充，其他Module不用*/
  padding: 10px;
}
.module-placeholder {
  display: block;
  border: 5px dotted #E0E0E0;
  padding: 15px;
  border-radius: 12px;
  color:#383939;
  text-align: center;
}
.module-placeholder .module-placeholder-plus {
  display: block;
  width: 60px;
  height: 60px;
  border: 2px dotted #e0e0e0;
  font-size: 45px;
}

/*我的状态模组*/
/*本模组无特定样式*/

/*本期应还模组*/
/*本模组无特定样式*/

/*本月活动模组*/
/*本模组无特定样式*/

/*维络网盟模组*/
/*本模组无特定样式*/

/*维络商户模组*/
.ui-list-link>li.ui-list-link-none:after {
  content: " " !important;
}
.ui-txt-info.ui-txt-info-index {
  padding-top: 11px;
}

/*我要贷付模组*/
section[data-moduleID='initiate-payment'] .ui-btn-group {
  background-color: #fff;
}
section[data-moduleID='initiate-payment'] .ui-btn-lg {
  margin: 15px;
  height: 100px;
  font-size: 14px;
  line-height: 30px;
}

/*Stem贷购模组*/
.ui-icon-cart-index {
  height: 30px;
  line-height: 30px;
  font-size: 28px;
}

/*游戏贷充模组*/
/*本模组无特定样式*/