<extend name="Common/main" />
<block name="css">
  <link rel="stylesheet" href="__PUBLIC__/flexselect/css/flexselect.css">
</block>
<block name="content">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        开设班级
        <small>班级管理</small>
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol> -->
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
      <div class="col-md-6">
              <!-- Horizontal Form -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">基础信息</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" action="__APP__/Clazz/insert">
                  <div class="box-body">
                  	<div class="form-group">
                  		<label for="clazz_type">班级类型</label>
	                    <div class="radio">
<!-- 	                      <label  class="radio-inline"> -->
<!-- 	                      <input type="radio" name="clazz_type" checked="" value="1"  >一对一 -->
<!-- 	                      </label> -->
<!-- 	                      <label  class="radio-inline"> -->
<!-- 	                      <input type="radio" name="clazz_type" value="2">一对多 -->
<!-- 	                      </label> -->
	                      <label  class="radio-inline">
	                      <input type="radio" name="clazz_type" checked="checked" value="3" >集体班
	                      </label>
	                      </div>
	                    
	                </div>
                    <div class="form-group">
                      <label for="clazz_name">班名称{{$bean.clazz_name}}</label>
                      <input type="text" class="form-control" name="clazz_name" id="clazz_name" placeholder=""  value="{{$bean.clazz_name}}">
                    </div>
<!--                     <div class="form-group"> -->
<!--                       <label for="course_id">课程名</label> -->
<!--                        <select class="form-control" id="course_id" name="course_id"> -->
<!--                       		<option value="0">请选择</option> -->
<!-- 							<volist name="CourseList" id="vo"> -->
<!-- 								<option value="{{$vo.id}}">{{$vo.course_name}}</option> -->
<!-- 							</volist> -->
<!--                       </select> -->
                     
<!--                     </div> -->
                    <div class="form-group">
                      <label for="clazz_grade">年级</label>
                     	<select class="form-control"  name="clazz_grade" >
                     	<volist name="grad_list" id="vo"> 
                     	   	<option  value="{{$vo.grade_num}}"   <eq name="vo.grade_num"  value="$bean.clazz_grade"> selected="selected"</eq>    >{{$vo.grade_name}}</option> 
                     	</volist>
                     	
                      	</select>
                    </div>
                    <div class="form-group">
                      <label for="teacher_id">授课教师</label>
                       	<select class="form-control" id="teacher_id"  name="teacher_id">
							<option></option>
							<volist name="TeacherList" id="vo">
								<option value="{{$vo.id}}"  <eq name="vo.id"  value="$bean.teacher_id"> selected="selected"</eq>  >{{$vo.teacher_name}}</option>
							</volist>
						</select>
                    </div>
                    <div class="form-group">
                      <label for="personnel_id">教务老师</label>
                    	 <select class="form-control" id="personnel_id"  name="personnel_id">
							<option></option>
							<volist name="PersonnelList" id="vo">
								<option value="{{$vo.id}}"  <eq name="vo.id"  value="$bean.personnel_id"> selected="selected"</eq>    >{{$vo.personnel_name}}</option>
							</volist>
						 </select>
                    </div>
                    <div class="form-group">
                      <label for="clazz_count">共多少节课</label>
                      <input type="text" class="form-control" name="clazz_count" id="clazz_count" placeholder=""  value="{{$bean.clazz_count}}">
                    </div>
                    <div class="form-group">
                      <label for="clazz_each_hour">每节课小时数（单位:小时）</label>
                      <input type="text" class="form-control" name="clazz_each_hour" id="clazz_each_hour" placeholder=""  value="{{$bean.clazz_each_hour}}">
                    </div>
                    <div class="form-group">
                      <label for="clazz_hour_cost">单价（每小时的费用 单位:元）</label> 
                      <input type="text" class="form-control" name="clazz_hour_cost" id="clazz_hour_cost" placeholder="" value="{{$bean.clazz_hour_cost}}">
                    </div>
                    <div class="form-group">
                      <label for="clazz_material_cost">材料费（单位:元）</label>
                      <input type="text" class="form-control" name="clazz_material_cost" id="clazz_material_cost" placeholder="" value="{{$bean.clazz_material_cost}}">
                    </div>
                    <div class="form-group">
                      <label for="clazz_remark">备注</label>
                      <textarea class="form-control" rows="6"  name="clazz_remark"  >{{$bean.clazz_remark}}</textarea>
                    </div>
                    
                    
                    
                  </div> 
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">下一步</button>
                  </div>
                </form>
              </div><!-- /.box -->
</div>
 
 
 
 
 
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</block>
<block name="customJS">
  <!-- DataTables -->
<script src="__PUBLIC__/flexselect/js/jquery.flexselect.js"></script>
<script src="__PUBLIC__/flexselect/js/liquidmetal.js"></script>
<script  type="text/javascript">

$(function(){
	$("#teacher_id").flexselect();
	$("#personnel_id").flexselect();
});
      
</script>    
</block>
 